! COLOR PALETTE HERE !
*.borderColor:  #262626
*.background:	#262626
*.foreground:	#FFFFD7
*.cursorColor:  #FFFFDJ

*.color0:       #313131
*.color8:       #434343
*.color1:       #7e6565
*.color9:       #807171
*.color2:       #AFD75F
*.color10:      #3e646f
*.color3:       #90a996
*.color11:      #badbc2
*.color4:       #3e646f
*.color12:      #5c828d
*.color5:       #817f98
*.color13:      #9b98b7
*.color6:       #9aa7c0
*.color14:      #b2b7c0
*.color7:       #b0aba8
*.color15:      #d9d6ca

*fading:                0
*fadeColor:             black
*pointerColorBackground:#2B2C2B
*pointerColorForeground:#16A085

Xcursor.theme: Breeze
Xcursor.size:  0

! URxvt SETUP HERE !
URxvt.internalBorder: 	20
!URxvt.font: 			xft:DejaVuSansMono Nerd Font:size=8
!URxvt.font: xft:DejaVuSansMono Nerd Font:size=8
URxvt.letterSpace:		0
URxvt.lineSpace:		0
URxvt.depth: 			24
URxvt.background:		#262626
URxvt*scrollBar:                false
URxvt*mouseWheelScrollPage:     false
URxvt*cursorBlink:              true
URxvt*foreground:               #b0aba8
URxvt*cursorColor:              #b0aba8
URxvt*saveLines:                5000

! ROFI SETUP HERE !

! Enable the extended coloring options
rofi.color-enabled: true
!                  bg       border   separator
rofi.color-window: #1c1c1c, #3e646f, #3e646f
!                  bg       fg       bg-alt   hl-bg    hl-fg
rofi.color-normal: #1e2124, #bcbcbc, #1e2124, #3e646f, #bcbcbc
rofi.color-active: #1e2124, #bcbcbc, #1e2124, #3e646f, #bcbcbc
rofi.color-urgent: #1e2124, #bcbcbc, #1e2124, #3e646f, #bcbcbc

rofi.separator-style: solid
rofi.sidebar-mode: true
rofi.lines: 5
rofi.font: Hack Regular 9
rofi.bw: 1
rofi.columns: 1
rofi.padding: 5
rofi.fixed-num-lines: true
rofi.hide-scrollbar: true
