[Desktop Entry]
Type=Application
Name=LXRandR autostart
Comment=Start xrandr with settings done in LXRandR
Exec=sh -c 'xrandr --output LVDS1 --mode 1280x800 --rate 60.16'
OnlyShowIn=LXDE
